
h1{
          color: aquamarine;
          background-color: navy;
          height: 120px;
          width: 130px;
          border: 4px solid rgb(224, 109, 64);
          border-radius: 9px;
}         
p{
          color: rgb(212, 126, 21);
          background-color: rgb(21, 61, 61);
          border-radius: 6px;
}