/* common shared style */
body{
          font-family: 'Open Sans', sans-serif;
          font-family: 'Passions Conflict', cursive;
          font-family: 'Poppins', sans-serif;
}

.text-prymary{
          color: tomato;
}
.btn-primary{
          border-radius: 5px;
          background-color: tomato;
          border: 0;
          color: white;
          font-size: 20px;
          font-weight: 700;
          padding: 15px 35px;

}
.section-titel{
          color: black;
          text-align: center;
          font-size: 35px;       
          font-weight: 700;
          
}

.section-description{
          color: #757575;
          text-align: center;
          font-size: 18px;
}

/* nav related style */

nav{
          display: flex; 
          align-items: center; 
          justify-content: space-between;    
          margin: 0 200px;
}
.nav-title{
          color: #181818;
          font-size: 45px;
          font-weight: 800px;
}
nav > ul{
          display: flex;
          align-items: center;
}

nav li{
          list-style: none;
          margin-right: 50px;
}

nav a{
          text-decoration: none;
          color: rgb(114, 102, 102);

}

.header{
          background-color: #fff8f3;
        background-image: url(header_bg.png);
          background-repeat: no-repeat;
          background-position: bottom right;
}
 .banner{
          padding: 30px 30px 0px 150px;
          display: flex;
          align-items: center;
          justify-content: space-between;
 }
 .banner-contenet{
          max-width: 500px;
 }
 .profile-pic{
          width: 500px;
 }
 .banner-greeting{
          font-size: 45px;
          color: #474747;
          margin-bottom: 0;
 }
 .banner-titel{
          font-size: 85px;
          font-weight: 700;
          margin-top: 5px;
          margin-bottom: 20px;
 }
 /* main section style */
main{
          max-width: 1140px;
          justify-content: center;
          text-align: center;
        
}
 /* about section style */
.about{
          
          padding: 130px;
          border-radius: 10px;
          background-color: #fff8f3;
          margin: 130px 0;
          right: 140px

}
.about-info-container{
          display: flex;
          right: 500px;
          
}
#what-i-do-descripti{
          padding: 30px 150px;
}

